/* Global style starts */

* {
  padding: 0px;
  margin: 0px;
  font-family: "Lato", sans-serif;
}

.button {
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 20px 43px;
  border-radius: 8px;
  background: #e55473;
  border: 0;
}

h2 {
  color: #272727;
  text-align: center;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

h3 {
  color: rgba(39, 39, 39, 0.8);
  text-align: center;
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 35px;
}

.global-p {
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

/* Global style ends */

/* Header Styles start */

header {
  background: rgba(229, 84, 115, 0.1);
}

.header-main-div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 200px;
}

.header-h1 {
  color: #272727;
  font-size: 80px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-bottom: 32px;
}

.header-p {
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 32px;
}

/* Header styles end */

/* Main style starts */

/* Section 1 starts */

.section1 {
  margin-bottom: 240px;
}

.section1-h2 {
  margin-top: 178px;
  margin-bottom: 24px;
}

.section1-p {
  margin-bottom: 48px;
}

.section1-div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.section1-div1 {
  width: 464px;
  height: 538px;
  border-radius: 300px 300px 0px 0px;
  background-color: rgba(167, 33, 98, 0.15);
}
.section1-div2 {
  width: 464px;
  height: 538px;
  border-radius: 300px 300px 0px 0px;
  background: rgba(5, 151, 160, 0.15);
}
.section1-div3 {
  width: 464px;
  height: 538px;
  border-radius: 300px 300px 0px 0px;
  background-color: rgba(71, 125, 17, 0.15);
}
.section1-img1 {
  padding: 110px 78px 0px 76px;
}
.section1-img2 {
  padding: 117px 47px 51px 47px;
}
.section1-img3 {
  padding: 67px 75px 0px 75px;
}

.section1-h3 {
  color: #272727;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 35px;
  text-decoration-line: underline;
  margin-top: 32px;
}

/* Section 1 ends */

/* Section 2 starts */

.section2 {
  width: 1440px;
  height: 320px;
  border-radius: 8px;
  background: rgba(39, 39, 39, 0.05);
  margin: 100px auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.section2-div {
  color: rgba(39, 39, 39, 0.8);
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  line-height: 35px;
  margin-top: 24px;
  width: 100%;
}
.section2-h3 {
  text-align: center;
  gap: 100px;
  margin-top: 24px;
}

/* Section 2 ends */

/* Section 3 Starts */

.section3 {
  width: 100%;
  height: 620px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 8px;
  background: rgba(229, 84, 115, 0.05);
  margin-bottom: 128px;
}

.section3-div {
  text-align: center;
}

.section3-h2 {
  color: #272727;
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 24px;
}

.section3-p {
  margin-bottom: 32px;
}

.sale-span {
  color: #e55473;
  font-size: 40px;
  font-weight: 800;
}

/* Section 3 ends */

/* Section 4 starts */

.section4-h2 {
  margin-bottom: 24px;
}

.section4-p {
  margin-bottom: 48px;
}

.section4-div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  margin-top: 40px;
  margin-bottom: 128px;
}

.section4-img {
  width: 342px;
  height: 396px;
  background: lightgray;
}

/* Section 4 ends */

/* Section 5 starts */
/* Section 5 ends */

/* Section 6 starts */


.section6 {
  width: 100%;
  height: 449px;
  background-image: url('../Asset/bg.png');
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 128px;
}

.section6-h2 {
  color: #272727;
  text-align: center;
  font-size: 40px;
  font-weight: 800;
  padding-top: 122px;
}

.section6-p {
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}

.form {
  width: 700px;
  height: 64px;
  flex-shrink: 0;
  border-radius: 8px;
  background: #fff;
}

.section6-div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.input-form {
  color: rgba(39, 39, 39, 0.6);
  margin: 22px;
  font-size: 16px;
  font-weight: 400;
  border: 0;
}


/* Section 6 ends */
